In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1={
    "name" : ['Riya','Diya','Jiya'],
    "marks" : [90,95,91],
    "city" : ["Porbandar","Porbandar","Porbandar"]
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

   name  marks       city
0  Riya     90  Porbandar
1  Diya     95  Porbandar
2  Jiya     91  Porbandar

In [5]:
df.to_csv('friends.csv')

In [6]:
df.to_csv('friends_index_False.csv', index=False)

In [7]:
df.head(2)

   name  marks       city
0  Riya     90  Porbandar
1  Diya     95  Porbandar

In [8]:
df.tail(2)

   name  marks       city
1  Diya     95  Porbandar
2  Jiya     91  Porbandar

In [9]:
df.describe()

           marks
count   3.000000
mean   92.000000
std     2.645751
min    90.000000
25%    90.500000
50%    91.000000
75%    93.000000
max    95.000000

In [10]:
riya = pd.read_csv('friends_index_False.csv')

In [11]:
riya

   name  marks       city
0  Riya     90  Porbandar
1  Diya     95  Porbandar
2  Jiya     91  Porbandar

In [12]:
riya1 = pd.read_csv('friends.csv')

In [13]:
riya1

   Unnamed: 0  name  marks       city
0           0  Riya     90  Porbandar
1           1  Diya     95  Porbandar
2           2  Jiya     91  Porbandar

In [14]:
riya['name']

0    Riya
1    Diya
2    Jiya
Name: name, dtype: object

In [15]:
riya['name'][1]

'Diya'

In [16]:
riya['marks'][0] = 99

/tmp/ipykernel_18/4025432732.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  riya['marks'][0] = 99
/tmp/ipykernel_18/4025432732.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  riya['marks'][0] = 99

In [17]:
riya

   name  marks       city
0  Riya     99  Porbandar
1  Diya     95  Porbandar
2  Jiya     91  Porbandar